USE [master]
GO
/****** Object:  Database [Culturilla]    Script Date: 21/12/2016 11:49:45 ******/
CREATE DATABASE [Culturilla]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Culturilla', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Culturilla.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Culturilla_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Culturilla_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Culturilla].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Culturilla]
GO
USE [Culturilla]
GO
/****** Object:  Table [dbo].[Pregunta]    Script Date: 21/12/2016 11:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pregunta](
	[Id] [int] NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Pregunta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Respuesta]    Script Date: 21/12/2016 11:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respuesta](
	[Id] [int] NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
	[Explicacion] [nvarchar](100) NULL,
	[IdPregunta] [int] NOT NULL,
 CONSTRAINT [PK_Respuesta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Pregunta] ([Id], [Descripcion]) VALUES (1, N'Premios nobel de la paz')
INSERT [dbo].[Pregunta] ([Id], [Descripcion]) VALUES (2, N'Invasión hunos')
INSERT [dbo].[Pregunta] ([Id], [Descripcion]) VALUES (3, N'1º Guerra Carlista')
INSERT [dbo].[Respuesta] ([Id], [Descripcion], [Explicacion], [IdPregunta]) VALUES (1, N'1992 Rigoberta Menchú (Guatemala)', NULL, 1)
INSERT [dbo].[Respuesta] ([Id], [Descripcion], [Explicacion], [IdPregunta]) VALUES (2, N'1993 Nelson Mandela y Willem Klerk', NULL, 1)
INSERT [dbo].[Respuesta] ([Id], [Descripcion], [Explicacion], [IdPregunta]) VALUES (3, N'1989 Dalai Lama (Tibet)', NULL, 1)
ALTER TABLE [dbo].[Respuesta]  WITH CHECK ADD  CONSTRAINT [FK_Respuesta_Pregunta1] FOREIGN KEY([IdPregunta])
REFERENCES [dbo].[Pregunta] ([Id])
GO
ALTER TABLE [dbo].[Respuesta] CHECK CONSTRAINT [FK_Respuesta_Pregunta1]
GO
USE [master]
GO
